/*DOCTYPE CSS*/
.card-container{
	display:flex;	
	justify-content: space-around;
}
.card{
	float:left;
	height:240px;
	margin-bottom:50px;
	background-color:#14213D;
	color:#FFF;
	border-radius: 25px;
}
#btn-card{
	margin-left: 74px;
	background-color:#FCA311;
	border: none;
}
.id{
	display:flex;
	justify-content: space-around;
	margin-bottom:50px;
}
.id img{
	width:110%;
	float:left;
}
.cv ul{
	font-size:1.2em;
	justify-content: space-between;
	list-style-type: none
}
.cv ul i{
	width:5px;
	height:5px;
	padding:10px;
	border-radius: 2px solid
	border-color:black;
	margin-right:16px;
	justify-content: space-between;
}